.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  /* text-decoration: underline; */
  /* text-underline-offset: 0.3rem; */
}

.list-menu__item--active:hover {
  /* text-decoration-thickness: 0.2rem; */
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.header__menu-item {
  font-style: normal;
  font-family: "Montserrat-Bold";
  font-weight: 1000;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
}

@media (max-width:1150px) {
  .header__menu-item {
    font-size: 27px;
  }
}